[View in Colaboratory](https://colab.research.google.com/github/Santosh-Gupta/BookCrossingsRecommender/blob/master/BookCrossingsDataAnalysis.ipynb)

Import Stuff, set connection to Google Drive

In [0]:
import pandas as pd

!pip install -U -q PyDrive

from google.colab import files
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import zipfile
import os
import sys

import random
import numpy as np
import pandas as pd

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Download BookCrossings data from Google Drive

In [2]:
dl_id = input("Enter Gdrive file ID for Book Crossings data file: ") # 1NIYYr2QZ9kSjavcpou08cYkyFJ83JpMh

# DOWNLOAD ZIP
print ("Downloading  file")
myzip = drive.CreateFile({'id': dl_id})
myzip.GetContentFile('data.csv')

print( os.listdir() )

Enter Gdrive file ID for Book Crossings data file: 1NIYYr2QZ9kSjavcpou08cYkyFJ83JpMh
Downloading  file
['datalab', '.cache', '.local', '.ipython', '.config', 'data.csv', '.forever']

Open data and convert to Pandas dataframe object. Look at number of rows (data points)

In [3]:
with open('data.csv', 'rb') as f:
  text = f.read()
  
csvfile = pd.read_csv('data.csv',  encoding = "ISO-8859-1", error_bad_lines=False, delimiter=';')
print(csvfile.head())
csvfile.shape[0]

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

1149780

Columns must be renamed for Pandas compatability ( ie pd.Book-Rating will not work but pd.BookRating will)

In [0]:
csvfile.rename(columns={'Book-Rating': 'BookRating', 'User-ID': 'UserID'}, inplace=True)

I decided to filter out results where the rating was below a 6. Since these vectors are going to be used for book reccomendations, I decided to only train on data points where the books resulted in an enjoyable experience for the user.

In [5]:
csvfile6plus = csvfile[csvfile.BookRating >= 6] 
print(csvfile6plus.head())
csvfile6plus.shape[0] #check how many data points we have left

   UserID        ISBN  BookRating
4  276729  0521795028           6
6  276736  3257224281           8
7  276737  0600570967           6
8  276744  038550120X           7
9  276745   342310538          10

363268

Look at statics about the books. In the stats below, count is the total number of books and mean is the average amount of times a book appears in the data. Min is the occurance for the lowest occuring book, or multiple books if there are more than one book that has the same number for lowest occurance.

In [6]:
reviews_per_user45 = csvfile6plus.groupby( 'ISBN' ).UserID.apply( lambda x: len( x ))
reviews_per_user45.describe()

count    159323.000000
mean          2.280073
std           6.418580
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max         663.000000
Name: UserID, dtype: float64

Filter out books that appear less than two times because books with lower instances will not get too many opportunities to train their embedding during each epoch. For example, a book that only occurs once in the data will only train once per epoch (assuming that each user appears at least twice in the data). Also, since these embeddings will be used for reccomendation, it would be ideal to have each book be reviewed by multiple users. But since I am not working with too much data, I decided to filter out books with only one occurance.

In [0]:
over2users = csvfile6plus.groupby('ISBN').filter(lambda x: len(x) >= 2)

Look at statics about the users. In the stats below, count is the total number of users and mean is the average amount of times a user appears in the data. Min is the occurance for the lowest occuring user, or multiple users if there are more than one user that has the same number for lowest occurance.

In [8]:
checkUsers = over2users.groupby( 'UserID' ).UserID.apply( lambda x: len( x ))
checkUsers.describe()

count    56666.000000
mean         4.431846
std         28.388489
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max       5172.000000
Name: UserID, dtype: float64

It is necessary to have at least two occurances for each user. The word2vec-based algorithm will measure similiarity among all books rated by a user, and so there should be at least two books rated by a particular user.

In [0]:
over2usersOver2books = csvfile6plus.groupby('UserID').filter(lambda x: len(x) >= 2)

Check the stats of the books again, in case removing all instances of one user resulted in cases of only one book.

In [10]:
checkBooks = over2usersOver2books.groupby( 'ISBN' ).ISBN.apply( lambda x: len( x )) 
checkBooks.describe()

count    147362.000000
mean          2.183989
std           5.663278
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max         518.000000
Name: ISBN, dtype: float64

Filter out cases of only one book again. This resulted in cases where there was only one user again, so the next several books is just going back and forth removing cases of one book and one user. There's better ways to code this.

In [0]:
over2usersOver2booksPart2 = over2usersOver2books.groupby('ISBN').filter(lambda x: len(x) >= 2)  #Since there are cases of only 1 user.

In [12]:
checkBooks = over2usersOver2booksPart2.groupby( 'UserID' ).ISBN.apply( lambda x: len( x ))  #check to see if removing cases of 1 user created cases where there is only 1 book review
checkBooks.describe()

count    26354.000000
mean         8.222092
std         39.183844
min          1.000000
25%          2.000000
50%          3.000000
75%          6.000000
max       4790.000000
Name: ISBN, dtype: float64

In [0]:
over2usersOver2booksPart3 = over2usersOver2booksPart2.groupby('UserID').filter(lambda x: len(x) >= 2)

In [14]:
checkBooks = over2usersOver2booksPart3.groupby( 'ISBN' ).ISBN.apply( lambda x: len( x ))  #check to see if removing cases of 1 book reviews created cases where there is only 1 user 
checkBooks.describe()

count    42175.000000
mean         5.042087
std          9.873195
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max        511.000000
Name: ISBN, dtype: float64

In [0]:
over2usersOver2booksPart4 = over2usersOver2booksPart3.groupby('ISBN').filter(lambda x: len(x) >= 2)

In [16]:
checkBooks = over2usersOver2booksPart4.groupby( 'UserID' ).ISBN.apply( lambda x: len( x ))  
checkBooks.describe()

count    22317.000000
mean         9.477976
std         41.913647
min          1.000000
25%          2.000000
50%          4.000000
75%          7.000000
max       4697.000000
Name: ISBN, dtype: float64

In [0]:
over2usersOver2booksPart5 = over2usersOver2booksPart4.groupby('UserID').filter(lambda x: len(x) >= 2)

In [18]:
checkBooks = over2usersOver2booksPart5.groupby( 'ISBN' ).ISBN.apply( lambda x: len( x ))  
checkBooks.describe()

count    41044.000000
mean         5.150302
std          9.983747
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max        511.000000
Name: ISBN, dtype: float64

In [0]:
over2usersOver2booksPart6 = over2usersOver2booksPart5.groupby('ISBN').filter(lambda x: len(x) >= 2)

In [20]:
checkBooks = over2usersOver2booksPart6.groupby( 'UserID' ).ISBN.apply( lambda x: len( x ))  
checkBooks.describe()

count    22185.000000
mean         9.526166
std         42.007800
min          1.000000
25%          2.000000
50%          4.000000
75%          7.000000
max       4692.000000
Name: ISBN, dtype: float64

In [0]:
over2usersOver2booksPart7 = over2usersOver2booksPart6.groupby('UserID').filter(lambda x: len(x) >= 2)

In [22]:
checkBooks = over2usersOver2booksPart7.groupby( 'ISBN' ).ISBN.apply( lambda x: len( x ))  
checkBooks.describe()

count    40993.000000
mean         5.155197
std          9.988682
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max        511.000000
Name: ISBN, dtype: float64

In [0]:
over2usersOver2booksPart8 = over2usersOver2booksPart7.groupby('ISBN').filter(lambda x: len(x) >= 2)

In [24]:
checkBooks = over2usersOver2booksPart8.groupby( 'UserID' ).ISBN.apply( lambda x: len( x ))  
checkBooks.describe()

count    22174.000000
mean         9.530170
std         42.012737
min          2.000000
25%          2.000000
50%          4.000000
75%          7.000000
max       4691.000000
Name: ISBN, dtype: float64

In [25]:
checkBooks = over2usersOver2booksPart8.groupby( 'ISBN' ).ISBN.apply( lambda x: len( x ))  #Important to note total number of books is 40988
checkBooks.describe()

count    40988.000000
mean         5.155704
std          9.989186
min          2.000000
25%          2.000000
50%          3.000000
75%          5.000000
max        511.000000
Name: ISBN, dtype: float64

Finally, at least two occurances of each user and each book in the data. Lets check the number of data points we have left.

In [26]:
over2usersOver2booksPart8.shape[0]

211322

The data will now be sorted by the number of occurances for each book. We will be mapping the ISBN with numbers (EmbedID) from 0 to the number of books , and these numbers will be used for looking of the vector for each book in the embedding and softmax matrices. For now, the data is ordered by book occurance (we will randomize the data later) so that books that occur more frequently in the data will have smaller number for the EmbedID. We are doing this because we will mostly be focusing on books that occur more frequently (and thus whose embeddings had more training) in the analysis, and arranging the EmbedID this way makes it easier. This probably doesn't make sence at the moment, but as you go through this notebook, the traning notebook, and the analysis notebook hopefully it'll be more clear. So if this doesn't quite make sense yet, wait until you have reviewed those notebooks and then come back to this section.

In [29]:
over2usersOver2booksPart8['count'] = over2usersOver2booksPart8.groupby('ISBN')['ISBN'].transform(pd.Series.value_counts)
over2usersOver2booksPart8.head(30)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     UserID        ISBN  BookRating  count
16   276747  0060517794           9     26
19   276747  0671537458           9     14
20   276747  0679776818           8     14
59   276772  0553572369           7      7
61   276772  3499230933          10      3
77   276786  8437606322           8      2
81   276786  8478442588           6      3
83   276788  0345443683           8     18
84   276788  043935806X           7    176
85   276788  055310666X          10     11
90   276798  3442131340           7      2
97   276798  3548603203           6      7
118  276813  8423996565           8      2
120  276813  8426449476           8      4
121  276813  8426449573           6      2
122  276813  8478884831           8      3
123  276813  8478885218           6      3
124  276813  8478885463           6      3
128  276814  0586207414           7      2
129  276814  0812571029           9      2
133  276822  0060096195          10     43
134  276822  0141310340           9      3
135  276822  0142302198          10      3
136  276822  0156006065           9      2
137  276822  0375821813           9      9
138  276822  038076041X          10      3
140  276822  0439401399           6      2
141  276822  0552546933           9     15
142  276822  0689804458           8      4
144  276822  0786812508           9      2

In [33]:
sortedData = over2usersOver2booksPart8.sort_values('count', ascending=False)
sortedData.head(20)

         UserID        ISBN  BookRating  count
549397   131686  0316666343           8    511
468822   112026  0316666343           8    511
990646   238131  0316666343           8    511
1117422  268110  0316666343           7    511
989554   238120  0316666343           7    511
1094935  262795  0316666343           9    511
1074012  256873  0316666343          10    511
367245    88229  0316666343          10    511
151329    34377  0316666343          10    511
222349    52002  0316666343          10    511
988603   237856  0316666343           9    511
367853    88360  0316666343           7    511
1137123  273718  0316666343           8    511
151756    34581  0316666343           8    511
152209    34761  0316666343           8    511
763822   184789  0316666343           8    511
987805   237474  0316666343           8    511
1118115  268300  0316666343          10    511
567588   136216  0316666343           7    511
94255     21026  0316666343           8    511

In [35]:
sortedData2 = sortedData.drop('count', axis=1)
sortedData2.head(20)

         UserID        ISBN  BookRating
549397   131686  0316666343           8
468822   112026  0316666343           8
990646   238131  0316666343           8
1117422  268110  0316666343           7
989554   238120  0316666343           7
1094935  262795  0316666343           9
1074012  256873  0316666343          10
367245    88229  0316666343          10
151329    34377  0316666343          10
222349    52002  0316666343          10
988603   237856  0316666343           9
367853    88360  0316666343           7
1137123  273718  0316666343           8
151756    34581  0316666343           8
152209    34761  0316666343           8
763822   184789  0316666343           8
987805   237474  0316666343           8
1118115  268300  0316666343          10
567588   136216  0316666343           7
94255     21026  0316666343           8

In [0]:
sortedData2.to_csv('refinedBookCrossingsRatings4.csv') #To make it into a regular dataframe object again
                                                                                                      #There's probably a better way to convert the data into a dataframe object again
rr2 = pd.read_csv( 'refinedBookCrossingsRatings4.csv' )

Map each ISBN to a unique number called the EmbedID. This number will be used to look up a book's embedding from the embedding and softmax matrices. For example, a book with EmbedID of 7 will have it's embedding be the 7th row (or column; I forgot how the matrix is orientated) in the embedding and softmax matrix.

In [37]:
mapping = {k: v for v, k in enumerate(rr2.ISBN.unique())}  #Give each book a unique ID for embedding matrix and softmax matrix lookup
rr2['EmbedID'] = rr2.ISBN.map(mapping)
rr2.head()

   Unnamed: 0  UserID        ISBN  BookRating  EmbedID
0      549397  131686  0316666343           8        0
1      468822  112026  0316666343           8        0
2      990646  238131  0316666343           8        0
3     1117422  268110  0316666343           7        0
4      989554  238120  0316666343           7        0

Group the data by each User. This format is neccessary for the way I coded the training algorithm. This is for the algorithm to know which books for each data point to perform similiarity on.

In [38]:
rr3= rr2.groupby(['UserID'], as_index=False, sort=True)

#rr3.head(63)

print(rr3.apply(lambda x: x.head(200)))

              Unnamed: 0  UserID        ISBN  BookRating  EmbedID
0     61670         9598      17  0891075275           6     1504
      120080        9594      17  0425099148           7     6515
1     4507          9607      26  0446310786          10       19
      14487         9608      26  0449005615           9      106
2     43342         9617      39  0671888587           7      732
      96544         9616      39  0553582909           8     4277
3     120281        9628      53  0380715899           9     7320
      160989        9626      53  0156047624          10    20221
4     65067         9632      56  0671623249           7     1698
      160974        9634      56  0679865691           9    17188
5     96204         9667      92  8445071408           7     4186
      120205        9669      92  8445071777          10     6591
      120206        9668      92  8445071769           8     6602
6     40196         9677      99  0446677450          10      611
      92998         9673      99  0312261594           8     3847
      111950        9672      99  0312252617           8     5658
      130098        9674      99  0316748641           7     9742
      160969        9679      99  0553347594           9    20735
7     2267          9695     114  0671027360          10        7
      16498         9691     114  0446612545           9      132
      62001         9694     114  0553584383           9     1487
      73641         9690     114  0446608653           9     2119
      78527         9693     114  0451208080           8     2677
      149662        9689     114  0312953453           7    13812
      149720        9692     114  0446612618           8    13801
8     149037        9826     183  9726081378           9    10919
      149724        9800     183  9722113747           9    11677
      160913        9763     183  2070567842           8    20644
      174133        9823     183  9726080630          10    22885
      174134        9825     183  9726081327           8    22886
...                  ...     ...         ...         ...      ...
22168 92941         9437  278818  0743400526           9     3598
      149539        9436  278818  0064405788          10    11403
22169 22543         9445  278832  155874262X          10      223
      37743         9446  278832  1558745718          10      557
      74046         9447  278832  1558747109          10     2246
22170 1396          9489  278843  059035342X           8        3
      12396         9463  278843  014028009X           8       84
      13847         9465  278843  0142000205           9       99
      19769         9480  278843  0440211263           7      176
      20330         9504  278843  0786881852           8      181
      35002         9477  278843  0399146431           9      487
      36484         9457  278843  0060173289           9      523
      37762         9485  278843  0553274503           8      539
      49785         9458  278843  0060517794           7      941
      56607         9503  278843  0767902890           9     1209
      57929         9495  278843  0679412956           8     1289
      112728        9475  278843  0385260075           8     5552
      174693        9487  278843  0590045296          10    23428
      174695        9507  278843  082301200X           6    23430
22171 1823          9521  278844  0679781587           7        5
      22652         9520  278844  0345387651           6      222
      174668        9522  278844  1892597020           6    23403
22172 39881         9548  278851  1558531025           8      618
      174671        9543  278851  0843106743           7    23406
22173 30901         9555  278854  042516098X           7      368
      35019         9560  278854  0553579606           8      491
      36528         9554  278854  0375703063           7      517
      149406        9556  278854  0425163393           7    13983
      160979        9558  278854  0553275739           6    20737
      174674        9553  278854  0316184152           7    23409

[199407 rows x 5 columns]

This block will add two columns, one is a random number mapped for each user, and the other column is just a random number. These two columns will be used to randomize the order of the users, and the order of the books for each user. This is to prevent the training algorithm from fitting to the order of the data. I like to train on a few few versions of the data with this randomization.

In [39]:

randomColumn1 = dict()
i=1
for n in random.sample(range(1, rr2['UserID'].max()+1), rr2['UserID'].max()):
  randomColumn1.update({i:n})
  i=i+1
  
#randomColumn2 = dict()
#i=1
#for n in random.sample(range(1, rr2['user_id'].max()+1), rr2['user_id'].max()):
#  randomColumn2.update({i:n})
#  i=i+1


  
rr2['SortIndex1'] = rr2['UserID'].map(randomColumn1)

#rr2['SortIndex2'] = rr2['user_id'].map(randomColumn2)

rr2['SortIndex2'] = np.random.randint(1, 500, rr2.shape[0])
rr2.head()

   Unnamed: 0  UserID        ISBN  BookRating  EmbedID  SortIndex1  SortIndex2
0      549397  131686  0316666343           8        0      274152         140
1      468822  112026  0316666343           8        0      115852          61
2      990646  238131  0316666343           8        0       73252          57
3     1117422  268110  0316666343           7        0       58798          18
4      989554  238120  0316666343           7        0      250700         372

In [40]:
r3 = rr2.sort_values(['SortIndex1', 'SortIndex2']) 

r3.head(50)

,Unnamed: 0,UserID,ISBN,BookRating,EmbedID,SortIndex1,SortIndex2
45369,1082427,259004,0749395990,8,784,22,54
175732,1082450,259004,8388553410,7,24422,22,91
87162,1082415,259004,055356983X,7,3085,22,183
175769,1082363,259004,0146001788,6,24458,22,250
76825,1082357,259004,0140430113,6,2465,22,251
111093,1082426,259004,0747525722,8,6411,22,258
147748,1082425,259004,0743225198,8,14199,22,260
104248,1082422,259004,0676973760,10,5035,22,264
89667,1082391,259004,0451158717,9,3447,22,267
76809,1082412,259004,0553268937,9,2483,22,281
175768,1082451,259004,8389676117,8,24457,22,304
147750,1082440,259004,1841951439,6,13666,22,352
87156,1082378,259004,0385720114,7,3217,22,414
111151,1082361,259004,0140622217,7,5370,22,419
175715,1082452,259004,8390150123,7,24405,22,430
175716,1082473,259004,8702014793,10,24406,22,451
116971,1082347,259004,0060931809,8,7456,22,455
45226,1021538,244874,0811825558,9,812,29,95
4847,1021529,244874,044021145X,9,21,29,108
19342,1021526,244874,0345380371,7,172,29,178
17676,1021536,244874,0671041789,9,144,29,364
5303,1021530,244874,0440211727,8,24,29,399
104840,1021537,244874,0684813467,7,5225,29,418
7191,1021532,244874,0440214041,8,38,29,465
200810,962948,232208,0061014656,9,38490,68,168
133438,962947,232208,0060506989,10,10402,68,220
134968,230622,53201,0671774654,8,10628,81,79
135459,230623,53201,0671774662,10,10949,81,108
191929,400317,96336,0394718380,9,36059,89,389
55435,400316,96336,0099387913,9,1257,89,467
9991,731720,177021,0380789035,8,61,93,272
124255,731721,177021,0380806576,9,8432,93,317
10842,978361,235384,0842329129,7,67,96,74
174860,978358,235384,0812520629,7,22589,96,137
55743,978337,235384,0425130711,7,1202,96,166
74647,978335,235384,0425098648,8,2282,96,208
57175,978349,235384,0684810395,8,1315,96,344
174824,978346,235384,0671435647,6,23554,96,375
174808,978357,235384,0809463245,7,23540,96,397
147998,978356,235384,0809463121,7,10543,96,484
192808,213076,49526,3426620685,8,28571,106,94
131783,213066,49526,0140271805,8,8379,106,106
16869,213069,49526,0312971346,8,137,106,113
163136,213078,49526,3442428785,8,18749,106,153
163137,213071,49526,0330376519,6,19555,106,247
13592,213068,49526,0312966970,8,96,106,252
92818,213065,49526,0140252924,8,3851,106,321
14860,213067,49526,0312966091,8,112,106,342
21058,213070,49526,0312976275,7,193,106,468
199184,83039,17185,1894294289,9,38536,114,86

Here I add a new column called 'Headernumber'. This column is used to keep track of data points that belong to a particular user. For the first instance of a particular user in the data, the headernumber is the number of data points for that user, and for the rest of the instances, the headernumber is '-1'. When the training algorithm is going through the data, the headernumber is used to match the right inputs with the right labels. How exactly the Headernumber is used will be explained more clearly in the training algorithm.

In [41]:
r3['Headernumber'] = np.where(r3['UserID'].duplicated(), -1, 
                         r3.groupby('UserID')['UserID'].transform(len))

r3.head(20)

,Unnamed: 0,UserID,ISBN,BookRating,EmbedID,SortIndex1,SortIndex2,Headernumber
45369,1082427,259004,0749395990,8,784,22,54,17
175732,1082450,259004,8388553410,7,24422,22,91,-1
87162,1082415,259004,055356983X,7,3085,22,183,-1
175769,1082363,259004,0146001788,6,24458,22,250,-1
76825,1082357,259004,0140430113,6,2465,22,251,-1
111093,1082426,259004,0747525722,8,6411,22,258,-1
147748,1082425,259004,0743225198,8,14199,22,260,-1
104248,1082422,259004,0676973760,10,5035,22,264,-1
89667,1082391,259004,0451158717,9,3447,22,267,-1
76809,1082412,259004,0553268937,9,2483,22,281,-1
175768,1082451,259004,8389676117,8,24457,22,304,-1
147750,1082440,259004,1841951439,6,13666,22,352,-1
87156,1082378,259004,0385720114,7,3217,22,414,-1
111151,1082361,259004,0140622217,7,5370,22,419,-1
175715,1082452,259004,8390150123,7,24405,22,430,-1
175716,1082473,259004,8702014793,10,24406,22,451,-1
116971,1082347,259004,0060931809,8,7456,22,455,-1
45226,1021538,244874,0811825558,9,812,29,95,7
4847,1021529,244874,044021145X,9,21,29,108,-1
19342,1021526,244874,0345380371,7,172,29,178,-1

Reorder the columns

In [42]:
r3 = r3[['Unnamed: 0', 'UserID', 'EmbedID', 'BookRating', 'SortIndex1', 'SortIndex2',  'Headernumber',   'ISBN']]
r3.head(20)

,Unnamed: 0,UserID,EmbedID,BookRating,SortIndex1,SortIndex2,Headernumber,ISBN
45369,1082427,259004,784,8,22,54,17,0749395990
175732,1082450,259004,24422,7,22,91,-1,8388553410
87162,1082415,259004,3085,7,22,183,-1,055356983X
175769,1082363,259004,24458,6,22,250,-1,0146001788
76825,1082357,259004,2465,6,22,251,-1,0140430113
111093,1082426,259004,6411,8,22,258,-1,0747525722
147748,1082425,259004,14199,8,22,260,-1,0743225198
104248,1082422,259004,5035,10,22,264,-1,0676973760
89667,1082391,259004,3447,9,22,267,-1,0451158717
76809,1082412,259004,2483,9,22,281,-1,0553268937
175768,1082451,259004,24457,8,22,304,-1,8389676117
147750,1082440,259004,13666,6,22,352,-1,1841951439
87156,1082378,259004,3217,7,22,414,-1,0385720114
111151,1082361,259004,5370,7,22,419,-1,0140622217
175715,1082452,259004,24405,7,22,430,-1,8390150123
175716,1082473,259004,24406,10,22,451,-1,8702014793
116971,1082347,259004,7456,8,22,455,-1,0060931809
45226,1021538,244874,812,9,29,95,7,0811825558
4847,1021529,244874,21,9,29,108,-1,044021145X
19342,1021526,244874,172,7,29,178,-1,0345380371

Check how many books there are

In [43]:
r3.loc[r3['EmbedID'].idxmax()]

Unnamed: 0          716284
UserID              173517
EmbedID              40987
BookRating               9
SortIndex1          137783
SortIndex2             208
Headernumber            -1
ISBN            1573245232
Name: 211276, dtype: object

Since the training algorithm uses EmbedID, ISBN is dropped to reduce size of the data file.

In [44]:
r4 = r3.drop(columns=['ISBN'])
r4.head(20)

,Unnamed: 0,UserID,EmbedID,BookRating,SortIndex1,SortIndex2,Headernumber
45369,1082427,259004,784,8,22,54,17
175732,1082450,259004,24422,7,22,91,-1
87162,1082415,259004,3085,7,22,183,-1
175769,1082363,259004,24458,6,22,250,-1
76825,1082357,259004,2465,6,22,251,-1
111093,1082426,259004,6411,8,22,258,-1
147748,1082425,259004,14199,8,22,260,-1
104248,1082422,259004,5035,10,22,264,-1
89667,1082391,259004,3447,9,22,267,-1
76809,1082412,259004,2483,9,22,281,-1
175768,1082451,259004,24457,8,22,304,-1
147750,1082440,259004,13666,6,22,352,-1
87156,1082378,259004,3217,7,22,414,-1
111151,1082361,259004,5370,7,22,419,-1
175715,1082452,259004,24405,7,22,430,-1
175716,1082473,259004,24406,10,22,451,-1
116971,1082347,259004,7456,8,22,455,-1
45226,1021538,244874,812,9,29,95,7
4847,1021529,244874,21,9,29,108,-1
19342,1021526,244874,172,7,29,178,-1

Save the file

In [0]:
r4.to_csv('BookCrossingDataReadyForTraining6.csv', index=False)

Upload file to Google Drive

In [0]:
# 2. Create & upload a file text file.
uploadModel = drive.CreateFile()

#zipname = 'RatingRefined'
#zipfolder(zipname, 'checkpoints5')
uploadModel.SetContentFile("BookCrossingDataReadyForTraining6.csv") #name of file located in local disk 
uploadModel.Upload()

Now that we're done with the training data, lets create a data file which holds the EmbedID, ISBN, book title, and the author. First, lets download the BX-Books.csv file.

In [47]:
dl_id = input("Enter Gdrive file ID for Book titles file: ") # 1kZBM8orAm9OpKLHWuVCp2YqFY-LxaYim

# DOWNLOAD ZIP
print ("Downloading  file")
myzip = drive.CreateFile({'id': dl_id})
myzip.GetContentFile('bookTitles.csv')

print( os.listdir() )

Enter Gdrive file ID for Book titles file: 1kZBM8orAm9OpKLHWuVCp2YqFY-LxaYim
Downloading  file
['datalab', 'refinedBookCrossingsRatings4.csv', '.cache', '.local', '.ipython', 'BookCrossingDataReadyForTraining6.csv', '.config', 'refinedBookCrossingsRatings3.csv', 'data.csv', 'bookTitles.csv', '.forever']

Open and convert data to a pandas dataframe

In [48]:
with open('bookTitles.csv', 'rb') as f:
  text = f.read()
bookfile = pd.read_csv('bookTitles.csv',  encoding = "ISO-8859-1", error_bad_lines=False, delimiter=';')
bookfile.head()

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

Create a dictionary for the ISBN and Title

In [49]:
bookDictionary = bookfile.set_index('ISBN').to_dict()['Book-Title']
bookDictionary['0393045218']

'The Mummies of Urumchi'

Create a dictionary for the ISBN and Title

In [50]:
authorDictionary = bookfile.set_index('ISBN').to_dict()['Book-Author']
authorDictionary['0393045218']

'E. J. W. Barber'

Use the dictionary to create columns for the r3 pandas dataframe for the book title and author

In [51]:
r3['Book_Title'] = r3['ISBN'].map(bookDictionary)
r3['Author'] = r3['ISBN'].map(authorDictionary)
r3.head(20)

,Unnamed: 0,UserID,EmbedID,BookRating,SortIndex1,SortIndex2,Headernumber,ISBN,Book_Title,Author
45369,1082427,259004,784,8,22,54,17,0749395990,NaN,NaN
175732,1082450,259004,24422,7,22,91,-1,8388553410,NaN,NaN
87162,1082415,259004,3085,7,22,183,-1,055356983X,Anne Frank's Tales from the Secret Annex,Anne Frank
175769,1082363,259004,24458,6,22,250,-1,0146001788,"The judgement ;: And, In the penal colony (Pen...",Franz Kafka
76825,1082357,259004,2465,6,22,251,-1,0140430113,Jane Eyre (Penguin Classics),Charlotte Bronte
111093,1082426,259004,6411,8,22,258,-1,0747525722,The Tortilla Curtain,Coraghessan T. Boyle
147748,1082425,259004,14199,8,22,260,-1,0743225198,More George W. Bushisms: More of Slate's Accid...,Jacob Weisberg
104248,1082422,259004,5035,10,22,264,-1,0676973760,NaN,NaN
89667,1082391,259004,3447,9,22,267,-1,0451158717,Who's Afraid of Virginia Woolf?,Edward Albee
76809,1082412,259004,2483,9,22,281,-1,0553268937,The Water Is Wide,PAT CONROY
175768,1082451,259004,24457,8,22,304,-1,8389676117,NaN,NaN
147750,1082440,259004,13666,6,22,352,-1,1841951439,"The Devil's Cup: Coffee, the Driving Force in ...",Stewart Lee Allen
87156,1082378,259004,3217,7,22,414,-1,0385720114,The Map of Love,Ahdaf Soueif
111151,1082361,259004,5370,7,22,419,-1,0140622217,NaN,NaN
175715,1082452,259004,24405,7,22,430,-1,8390150123,NaN,NaN
175716,1082473,259004,24406,10,22,451,-1,8702014793,NaN,NaN
116971,1082347,259004,7456,8,22,455,-1,0060931809,The Map That Changed the World : William Smith...,Simon Winchester
45226,1021538,244874,812,9,29,95,7,0811825558,The Worst-Case Scenario Survival Handbook,Joshua Piven
4847,1021529,244874,21,9,29,108,-1,044021145X,The Firm,John Grisham
19342,1021526,244874,172,7,29,178,-1,0345380371,Rising Sun,MICHAEL CRICHTON

Now we can create dictionary's to look up the book title and author from the EmbedID

In [52]:
bookDictionary2 = r3.set_index('EmbedID').to_dict()['Book_Title']
bookDictionary2[95]

'The Hours: A Novel'

In [53]:
authorDictionary2 = r3.set_index('EmbedID').to_dict()['Author']
authorDictionary2[135]

'Janet Evanovich'

Remove training data

In [0]:
r5 = r3.drop(columns=['Unnamed: 0', 'UserID', 'BookRating', 'SortIndex1', 'SortIndex2', 'Headernumber' ])

Remove duplicates

In [55]:
r5.drop_duplicates()
r5.head()

,EmbedID,ISBN,Book_Title,Author
45369,784,0749395990,NaN,NaN
175732,24422,8388553410,NaN,NaN
87162,3085,055356983X,Anne Frank's Tales from the Secret Annex,Anne Frank
175769,24458,0146001788,"The judgement ;: And, In the penal colony (Pen...",Franz Kafka
76825,2465,0140430113,Jane Eyre (Penguin Classics),Charlotte Bronte

Save and upload file to Google drive

In [0]:
r5.to_csv('BookCrossingBookData3.csv', index=False)

# 2. Create & upload a file text file.
uploadModel = drive.CreateFile()

#zipname = 'RatingRefined'
#zipfolder(zipname, 'checkpoints5')
uploadModel.SetContentFile("BookCrossingBookData3.csv") #name of file located in local disk 
uploadModel.Upload()